button {
    all: unset;
    font-weight: 500;
    color: var(--text-highlight);
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    
}

.btn-primary {
    background-color: #E43A12;
    color: #fff;
}

.btn-secondary {
    margin-left: auto;
    background-color: transparent;
    border: 1px solid var(--text-highlight);
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #F3541C;
}

.btn-secondary:hover, .btn-secondary:focus {
    color: #E43A12;
    outline: .25rem solid var(--surface-secondary);
}